        <table class="table">
         <tr class="bg-admin text-white"><th class="table-label">Path:</th><td>[[path]]</td></tr>
         <tr><th class="table-label">Device:</th><td>[[device]]</td></tr>
         <tr><th class="table-label">File system:</th><td>[[fs]]</td></tr>
         <tr><th class="table-label"></th>
          <td>
           <div class="progress progress-thick bg-admin2-light">
            <div class="progress-bar progress-bar-striped bg-admin2" role="progressbar" style="width: [[used-percent]]%">[[used-percent]]%</div>
           </div>
          </td>
         </tr>
         <tr><th class="table-label">Used:</th><td>[[used]]</td></tr>
         <tr><th class="table-label">Free:</th><td>[[free]]</td></tr>
         <tr><th class="table-label">Total:</th><td>[[total]]</td></tr>
        </table>