<div class="mb-3">
 <input type="hidden" name="disk[[[id]]][add_type]" value="2" />
 <table class="w-100">
  <tr class="bg-admin text-light">
   <th colspan="2">
    <span class="icon-row"><a class="pointer" onclick="VMNewRemoveDisk(this)"><img class="table-icon mr-2" src="[[template-path]]/img/delete.svg" alt="Remove" /></a>Disk device</span>
   </th>
  </tr>
  <tr>
   <td class="bold">Device path:</td>
   <td>
    <input class="form-control" type="text" name="disk[[[id]]][path]" value="/dev/" />
   </td>
  </tr>
 </table>
</div>