   <ol class="breadcrumb bg-admin2 text-light">
    <li class="breadcrumb-item active">Virtual servers</li>
   </ol>
   <div class="card form-size-md mb-3">
    <div class="card-body table-responsive">
     <a href="./?page=vm-new"><span class="btn bg-green mb-1"><span class="btn-img"><img class="btn-icon" src="[[template-path]]/img/add.svg" alt="Start" />New VM</span></span></a>
     <table class="table table-hover table-sm">
      <thead class="thead-admin">
       <th>Name</th>
       <th class="text-center">State</th>
       <th class="text-center">CPU cores</th>
       <th class="text-center">RAM</th>
       <th class="text-center">VNC port</th>
      </thead>
      <tbody>
[[rows]]
      </tbody>
     </table>
    </div>
   </div>